
  a {
      text-decoration: none;
  }
  body {
      margin: 0;
    }
    .header {
	text-align: center;
    }
    .header img {
	width: 100%;
	max-width: 800px;
    }
    h1 {
	text-align: center;
	font-size: 4vw;

    }
    h2 {
	text-align: center;
    }
    .content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
	margin-left: auto;
	margin-right: auto;
	max-width: 820px;
    }
    .content-block {
	display: flex;
	align-items: center;

	width: 45%;
	max-width: 400px;
/*	border: 1px solid black;*/
	float: left;
	min-height: 250px;
	padding: 10px;
    }

    .content-block img {
	width: 100%;
	/*max-height: 400px;*/
	border-radius: 10%;
	border: 0px solid gray;
	box-shadow: 6px 6px 3px gray;
    }
    .footer {
	text-align: center;
	background-color: #E0D5C0;
    }

    
